<div class="d-flex justify-content-start flex-column p-4 text-center">
  <%# <i class="bi bi-person-circle story-image"></i> %>
  <%= image_tag 'user.png', class: "img-thumbnail rounded-circle border-2 border-secondary" %>
  <span class="story-user-name">username wipip chichos soyla pulguis</span>
</div>
