<%= render 'layouts/alerts' %>
<div class="d-flex flex-row justify-content-between home">
  <div class="d-flex flex-column justify-content-center main-wrapper">
    <%= render 'story/story_list' %>
    <%= render 'posts/post_list', posts: current_user&.posts&.recent %>
  </div>
  <div class="card pt-3 home-card suggestions-container">
    <div class="card-body">
      <%= render 'suggestions/suggestions_list' %>
    </div>
  </div>
</div>
