  <div class="card-header bg-white border-0">
    <div class="d-flex justify-content-between">
      <div>
        <% if post&.user&.profile_picture&.attached? %>
          <%= image_tag post.user.profile_picture, class: 'img-thumbnail rounded-circle' %>
        <% else %>
          <i class="bi bi-person-circle" style="width: 25rem;"></i>
        <% end %>
        <span class="fw-bold"><%= post&.user&.username %></span>
      </div>
      <div class="dropdown">
        <a href="#" class="text-dark text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis"></i>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit post', edit_post_path(post), class: 'dropdown-item' %></li>
          <li><%= button_to 'Delete post', post, method: :delete, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
